{% extends "rover_app/base.html" %}

{% block content %}

    
<!--Search Bar -->

<div class="mars-header">
    <div class="mars-header-text">
        <p><h1>About</h1></p>
    </div>

    <div class="mars-image-credit">
        <div>
            <p>Photo: NASA/JPL-Caltech/MSSS</p>
        </div>
    </div>
</div>



<div class="container my-5 meet-container">
    <div class="row">
        <div class="col" id="About">
            <p>This mars rover picture finders was created with Nasa's <a href="https://api.nasa.gov/" style="color:#C0392B"><b>Mars Rover Photos API</b></a>.</p>
            <h2 class="mt-4">Function:</h2>
            <p>Finds and displays all pictures taken by the rovers on a specific date.</p>
            <h2 class="mt-4">Directions:</h2>
            <p>
                <ol>
                <li>Type a date into the search bar using a dd-mm-yyyy format date and hit enter.</li>
                <li>Results will appear. You now have te ability to filter by rover and camera.</li>
                <li>To start a new search, click on the date field and enter a new date or click the 
                    home button and enter a new date at the homepage.
                </li>
              </ol> 
                </p>
        </div>
    </div>
</div>

{% endblock content %}