{% extends "rover_app/base.html" %}

{% block content %}

    
<!--Search Bar -->

<div class="mars-header">
    <div class="mars-header-text">
        <p><h1>Meet the Rovers</h1></p>
    </div>

    <div class="mars-image-credit">
        <div>
            <p>Photo: NASA/JPL-Caltech/MSSS</p>
        </div>
    </div>
</div>



<!-- Image Card -->
<div class="container my-5 meet-container">
    <div class="row">
        <div class="col-md-4" id="meet-curiosity">
            <div class="card my-2">
                <img src='https://geeliz-django-bucket2.s3.us-east-2.amazonaws.com/Rover+Project/Meet+Curiosity.jpg'>
                <div class="card-body">
                    <h2 class="card-title mb-3">Curiosity</h2>
                    <p class="card-text">
                        <b>Landing Date:</b> 8/6/2012
                        <br><b>Launch Date:</b> 11/26/2011
                        <br><b>Status:</b> Active
                        <br><b>Max Sol:</b> 3229
                        <br><b>Max Date:</b> 9/5/2021
                        <br><b>Total Photos:</b> 517,646
                        <br><b><br><a href="https://mars.nasa.gov/msl/home/">More Info</a></b>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4" id="meet-opportunity">
            <div class="card my-2">
                <img src='https://geeliz-django-bucket2.s3.us-east-2.amazonaws.com/Rover+Project/Meet+Opportunity.png'>
                <div class="card-body">
                    <h2 class="card-title mb-3">Opportunity</h2>
                    <p class="card-text">
                        <b>Landing Date:</b> 1/25/2004
                        <br><b>Launch Date:</b> 7/7/2003
                        <br><b>Status:</b> Complete
                        <br><b>Max Sol:</b> 5111
                        <br><b>Max Date:</b> 6/11/2018
                        <br><b>Total Photos:</b> 198,439
                        <br><b><br><a href="https://solarsystem.nasa.gov/missions/opportunity/in-depth/">More Info</a></b>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4" id="meet-spirit">
            <div class="card my-2">
                <img src='https://geeliz-django-bucket2.s3.us-east-2.amazonaws.com/Rover+Project/Meet+Spirit.png'>
                <div class="card-body">
                    <h2 class="card-title mb-3">Spirit</h2>
                    <p class="card-text">
                        <b>Landing Date:</b> 1/4/2004
                        <br><b>Launch Date:</b> 6/10/2003
                        <br><b>Status:</b> Complete
                        <br><b>Max Sol:</b> 2208
                        <br><b>Max Date:</b> 3/21/2010
                        <br><b>Total Photos:</b> 124,550
                        <br><b><br><a href="https://solarsystem.nasa.gov/missions/spirit/in-depth/">More Info</a></b>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-3" id="legend">
            <div class="card my-2">
                <div class="card-body">
                    <h2 class="card-title mb-3">Legend</h2>
                    <p class="card-text">
                        <div style="display:flex; font-size: 2vh;">
                            <div style="width:45%">
                                <b>Landing Date:</b> The Rover's landing date on Mars.
                                <br><b>Launch Date:</b> The Rover's launch date from Earth.
                                <br><b>Status:</b> The Rover's mission status.
                            </div>
                            <div style="width:55%">
                                <b>Max Sol:</b> The most recent Martian sol from which photos exist.
                                <br><b>Max Date:</b> The most recent Earth date from which photos exist.
                                <br><b>Total Photos:</b> Number of photos taken by that rover.
                            </div>
                        </div>

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}