{% extends "rover_app/base.html" %}

{% block content %}
<div class="main-search">
    <form method=POST  action="{% url 'results-view' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td align="center">
                    <p><h1 id="search-title">Search Rover Photos</h1></p>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <input class="form-control rounded-pill" id="search-date-box" type="date" aria-label="Search Date" name="search-date">
                </td>
            </tr>
        </table>
        <button class="invisible" type="submit">Search</button>
    </form>
</div>

<div class="search-photo-credit">Photo:JPL-Caltech/MSSS/NASA</div>
{% endblock content%}
